@model Moshrefy.Web.Models.Statistics.SystemStatisticsVM
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>@Model.TotalCenters</h3>
                <p>Total Centers</p>
              </div>
              <div class="icon">
                <i class="fa-regular fa-building"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>@Model.ActiveCenters</h3>
                <p>Active Centers</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-building-circle-check"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-secondary">
              <div class="inner">
                <h3>@Model.InactiveCenters</h3>
                <p>Inactive Centers</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-building-circle-xmark"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>@Model.TotalUsers</h3>
                <p>Total Users</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-user"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>@Model.ActiveUsers</h3>
                <p>Active Users</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-user-check"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-secondary">
              <div class="inner">
                <h3>@Model.InactiveUsers</h3>
                <p>Inactive Users</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-user-xmark"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>

     